input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

body {
    color: #fff;
    background: url(../images/bg.png) no-repeat center center fixed;
    background-size: 100% 100%;
    font-size: 15px;
    margin: 0
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 14px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    body {
        font-size: 14px
    }
}

button {
    border: none
}

button:active {
    transform: translateY(1px)
}

a {
    text-decoration: none !important
}

::-webkit-scrollbar {
    display: none
}

#backtop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    background: transparent;
    border: 0;
    width: 50px
}

@media (min-width: 768px) and (max-width: 1023px) {
    #backtop {
        right: 15px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    #backtop {
        bottom: 10px;
        right: 10px
    }
}

#backtop:hover {
    color: #7043c3
}

.btn-radiant {
    background: linear-gradient(to right, #ae00ff, #f9a021);
    color: #fff;
    border: 0
}

.btn-radiant:hover {
    color: #e3c2ff
}

@media (min-width: 320px) and (max-width: 479px) {
    .btn-radiant {
        font-size: 10px
    }
}

.text-radiant {
    background: -webkit-linear-gradient(#e8c43a, #ffffb3, #e8c43a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.text-radiant-blue {
    background: -webkit-linear-gradient(60deg, #a047ff, #03fed2 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.btn-wallet {
    background: url(../images/btnbg.png) no-repeat center center;
    background-size: 100% 100%
}

.text-highline {
    color: #7043c3
}

.text-gold {
    color: #fff9ae
}

.icon-img {
    width: 40px;
    height: 40px
}

.brand-logo {
    width: 150px;
    z-index: 1021
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .brand-logo {
        width: 100px
    }
}

.brand-logo .logo {
    width: 270px
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .brand-logo .logo {
        width: 200px;
        transform: translateX(10%)
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .brand-logo .logo {
        width: 200px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .brand-logo .logo {
        width: 155px
    }
}

.brand-text {
    font-size: 90px;
    font-weight: bold;
    line-height: 100px
}

.brand-text .brand-text-sub {
    font-family: 'Bebas-Thin';
    font-size: 120px;
    font-weight: normal
}

@media (min-width: 320px) and (max-width: 479px) {
    .brand-text .brand-text-sub {
        font-size: 50px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .brand-text {
        font-size: 40px;
        line-height: 60px
    }
}

.slick-slider .slick-prev, .slick-slider .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: black;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none
}

.slick-slider .slick-prev:focus, .slick-slider .slick-next:focus {
    outline: none
}

.slick-slider .slick-prev.slick-disabled:before, .slick-slider .slick-next.slick-disabled:before {
    opacity: 0.25
}

.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-slider .slick-prev {
    left: -25px;
    width: 30px;
    height: 50px;
    background: url(../images/arrow-left.png) no-repeat center center;
    background-size: 100% 100%;
    transform: translateY(-40%)
}

@media (min-width: 320px) and (max-width: 479px) {
    .slick-slider .slick-prev {
        left: -5px;
        width: 20px;
        height: 30px
    }
}

.slick-slider .slick-next {
    right: -25px;
    width: 30px;
    height: 50px;
    background: url(../images/arrow-right.png) no-repeat center center;
    background-size: 100% 100%;
    transform: translateY(-40%)
}

@media (min-width: 320px) and (max-width: 479px) {
    .slick-slider .slick-next {
        right: -5px;
        width: 20px;
        height: 30px
    }
}

.countdown li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    width: 60px
}

.countdown li .number {
    font-size: 25px
}

.countdown li span {
    display: block
}

.text-gradient-yellow {
    background: url(../images/text-bg.jpg);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block
}

.bg-tittle {
    background: #001715
}

.tittle-icon {
    width: 55px
}

.top-list {
    color: #fff9ae
}

.top-list .wallet-address {
    max-width: 170px
}

@media (min-width: 320px) and (max-width: 479px) {
    .top-list .wallet-address {
        max-width: 120px
    }
}

header .menu-bar-mb {
    background: #e8ce88;
    width: 75%
}

@media (min-width: 768px) and (max-width: 1023px) {
    header .menu-bar-mb {
        width: 40%
    }
}

header .menu-bar-mb .nav-item .nav-link {
    color: #936423;
    text-transform: uppercase;
    border-radius: 10px;
    background: url(../images/btnmenu.png) no-repeat center center;
    background-size: 100% 100%
}

header .menu-bar-mb .nav-item .nav-link:hover {
    background: url(../images/btnmenu2.png) no-repeat center center;
    background-size: 100% 100%;
    color: #462714
}

header .menu-bar-mb .nav-item .active {
    background: url(../images/btnmenu2.png) no-repeat center center;
    background-size: 100% 100%;
    color: #462714
}

header .menu-bar-mb .btn-connect {
    background: url(../images/wallet.png) no-repeat center center;
    background-size: 100% 100%;
    font-size: 16px
}

header .navbar-toggler:focus {
    box-shadow: none
}

header .menubg .menu-bar {
    background: url(../images/menubar.png) no-repeat center center;
    background-size: 100% 100%
}

header .menubg .menu-bar .nav-item .nav-link {
    color: #936423;
    text-transform: uppercase;
    border-radius: 10px;
    background: url(../images/btnmenu.png) no-repeat center center;
    background-size: 100% 100%
}

header .menubg .menu-bar .nav-item .nav-link:hover {
    background: url(../images/btnmenu2.png) no-repeat center center;
    background-size: 100% 100%;
    color: #462714
}

header .menubg .menu-bar .nav-item .active {
    background: url(../images/btnmenu2.png) no-repeat center center;
    background-size: 100% 100%;
    color: #462714
}

header .menubg .menu-bar .btn-connect {
    background: url(../images/wallet.png) no-repeat center center;
    background-size: 100% 100%;
    color: #fff9ae
}

header .menubg .menu-bar .btn-connect:focus {
    box-shadow: none !important
}

header .menubg .menu-bar .dropdown .dropdown-menu {
    background: #fff9ae;
    color: #936423;
    min-width: auto
}

header .menubg .menu-bar .dropdown .dropdown-menu .dropdown-item:hover {
    color: #936423;
    background: transparent
}

header .menubg .img-bg-menu {
    min-height: 35px
}

header .wallet-box {
    background: rgba(1, 1, 1, 0.5) !important
}

header .wallet-box a {
    color: #fff9ae
}

header .wallet-box a:hover {
    color: #936423
}

header .wallet-box .name-wallet {
    font-family: "UTM Neo Sans Intel"
}

header .mywallet-modal {
    background: url(../images/event-box.png) no-repeat center center;
    background-size: 100% 100%;
    color: #fff9ae
}

header .mywallet-modal .form-control {
    background: linear-gradient(#044340, #011e1c);
    border: 1px solid #fff9ae;
    color: #fff9ae
}

header .mywallet-modal .form-control:focus {
    box-shadow: none
}

header .mywallet-modal .btn-submit {
    background: url(../images/btn-submit.png) no-repeat center center;
    background-size: 100% 100%
}

header .mywallet-modal .btn-submit:focus {
    box-shadow: none
}

header .mywallet-modal .loading {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.5);
    width: 100%;
    height: 100%
}

section .left-tab {
    width: 310px;
    background: rgba(1, 1, 1, 0.5);
    text-align: center
}

@media (min-width: 1024px) and (max-width: 1366px) {
    section .left-tab {
        width: 270px
    }
}

section .left-tab .btn-play {
    color: #936423;
    text-transform: uppercase;
    border-radius: 10px;
    background: url(../images/btnmenu.png) no-repeat center center;
    background-size: 100% 100%
}

section .left-tab .btn-play:hover {
    background: url(../images/btnmenu2.png) no-repeat center center;
    background-size: 100% 100%;
    color: #462714
}

section .left-tab .social-box {
    background: #fff9ae;
    color: #001715;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

section .right-tab .event-box {
    background: url(../images/event-box.png) no-repeat center center;
    background-size: 100% 100%
}

section .right-tab .event-box .eg-id {
    color: #fff9ae
}

section .right-tab .event-info {
    font-family: "UTM Neo Sans Intel";
    font-size: 27px
}

@media (min-width: 1024px) and (max-width: 1366px) {
    section .right-tab .event-info {
        font-size: 16px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    section .right-tab .event-info {
        font-size: 14px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    section .right-tab .event-info {
        font-size: 14px
    }
}

section .right-tab .event-info .line-divide {
    border-bottom: 1px solid #fff9ae
}

section .right-tab .event-info .input-amount .form-control {
    background: transparent;
    border: none;
    color: #fff9ae;
    text-align: center
}

section .right-tab .event-info .input-amount .form-control:focus {
    box-shadow: none
}

section .right-tab .event-info .input-amount .input-group-text {
    background: transparent;
    color: #fff9ae;
    border: none;
    padding: 0
}

section .right-tab .event-info .input-amount .input-group-text .btn-amount {
    color: #fff9ae;
    border: 1px solid #fff9ae;
    border-radius: 0
}

section .right-tab .event-info .input-amount .input-group-text .btn-amount:focus {
    box-shadow: none
}

section .right-tab .event-info .detail-box .btn-detail {
    background: rgba(1, 1, 1, 0.5);
    font-size: 16px;
    position: relative
}

section .right-tab .event-info .detail-box .btn-detail::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    right: 10px;
    top: 50%
}

section .right-tab .event-info .detail-box .dropdown-menu {
    background: rgba(1, 1, 1, 0.5);
    font-size: 18px
}

@media (min-width: 320px) and (max-width: 479px) {
    section .right-tab .event-info .detail-box .dropdown-menu {
        background: #000000
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    section .right-tab .event-info .detail-box .dropdown-menu {
        font-size: 14px
    }
}

section .right-tab .event-info .detail-box .dropdown-menu .dropdown-item {
    color: #00ffd8
}

section .right-tab .event-info .detail-box .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #ffc107
}

section .right-tab .event-info .detail-box .dropdown-menu .detail-input {
    background: linear-gradient(#044340, #011e1c);
    border: 1px solid #fff9ae;
    border-radius: 10px;
    color: #fff9ae
}

section .right-tab .btn-sell {
    background: url(../images/btn-sell.png) no-repeat center center;
    background-size: 100% 100%
}

@media (min-width: 1024px) and (max-width: 1366px) {
    section .right-tab .btn-sell {
        font-size: 12px !important
    }
}

section .right-tab .btn-sell:hover .text-radiant {
    background: -webkit-linear-gradient(#0cc94f, #95ffa1, #0cc94f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

section .right-tab .btn-transfer {
    background: url(../images/btn-transfer.png) no-repeat center center;
    background-size: 100% 100%
}

@media (min-width: 1024px) and (max-width: 1366px) {
    section .right-tab .btn-transfer {
        font-size: 12px !important
    }
}

section .right-tab .btn-transfer:hover .text-radiant {
    background: -webkit-linear-gradient(#0cc94f, #95ffa1, #0cc94f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

section .right-tab .btn-submit {
    background: url(../images/btn-submit.png) no-repeat center center;
    background-size: 100% 100%
}

section .right-tab .btn-submit:focus {
    box-shadow: none
}

section .right-tab .btn-selling {
    background: url(../images/btn-sell.png) no-repeat center center;
    background-size: 100% 100%
}

@media (min-width: 1024px) and (max-width: 1366px) {
    section .right-tab .btn-selling {
        font-size: 12px !important
    }
}

section .right-tab .btn-selling .text-radiant {
    background: -webkit-linear-gradient(#0cc94f, #95ffa1, #0cc94f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

section .right-tab .my-wallet .mywallet-menu {
    background: rgba(1, 1, 1, 0.5)
}

section .right-tab .my-wallet .mywallet-menu .nav-link {
    background: -webkit-linear-gradient(#e8c43a, #ffffb3, #e8c43a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase
}

section .right-tab .my-wallet .mywallet-menu .nav-link:hover {
    background: -webkit-linear-gradient(#0cc94f, #95ffa1, #0cc94f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

section .right-tab .my-wallet .mywallet-menu .active {
    background: -webkit-linear-gradient(#0cc94f, #95ffa1, #0cc94f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

section .right-tab .my-wallet .search-bar {
    width: 20%
}

@media (min-width: 320px) and (max-width: 479px) {
    section .right-tab .my-wallet .search-bar {
        width: 100%;
        padding: 0.5rem 1rem
    }
}

section .right-tab .my-wallet .search-bar .input-group {
    background: transparent;
    border: 0
}

section .right-tab .my-wallet .search-bar .input-group .form-control, section .right-tab .my-wallet .search-bar .input-group .input-group-text {
    background: transparent;
    border: 0;
    color: #fff9ae
}

section .right-tab .my-wallet .search-bar .input-group .form-control {
    border-bottom: 1px solid #fff9ae
}

section .right-tab .my-wallet .mywallet-content .mywallet-modal {
    background: url(../images/event-box.png) no-repeat center center;
    background-size: 100% 100%;
    color: #fff9ae
}

section .right-tab .my-wallet .mywallet-content .mywallet-modal .form-control {
    background: linear-gradient(#044340, #011e1c);
    border: 1px solid #fff9ae;
    color: #fff9ae
}

section .right-tab .my-wallet .mywallet-content .mywallet-modal .form-control:focus {
    box-shadow: none
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box {
    background: rgba(1, 1, 1, 0.5);
    height: 100%;
    font-size: 16px
}

@media (min-width: 768px) and (max-width: 1023px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box {
        font-size: 14px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box {
        font-size: 14px
    }
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top {
    position: relative;
    width: 100%
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-snake {
    position: absolute;
    width: 100%;
    top: 35px
}

@media (min-width: 1024px) and (max-width: 1366px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-snake {
        top: 20px
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-snake {
        top: 30px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-snake {
        top: 70px
    }
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-snake .snake-img {
    width: 32%
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-snake .snake-ssr {
    width: 40%;
    padding-top: 10px
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-eggs {
    position: absolute;
    width: 100%
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-name {
    position: absolute;
    bottom: 9%;
    width: 100%;
    font-size: 16px
}

@media (min-width: 768px) and (max-width: 1023px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-name {
        font-size: 14px
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-name {
        font-size: 14px
    }
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-name .snake-id {
    width: 40%
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-name .snake-icon {
    width: 25px;
    height: 25px
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-name .snake-price {
    font-size: 16px
}

@media (min-width: 1024px) and (max-width: 1366px) {
    section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-top .content-box-top-name .snake-price {
        font-size: 14px
    }
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-bottom {
    width: 100%
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-bottom .health-color {
    color: #fff9ae
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-bottom .img-info {
    width: 36px;
    height: 25px
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-bottom .health {
    background: transparent;
    border: 1px solid #fff9ae;
    border-radius: 10px
}

section .right-tab .my-wallet .mywallet-content .walltet-content-box .content-box-bottom .health .health-bar {
    background: linear-gradient(to right, #f26220, #fec506)
}

section .right-tab .my-wallet .mywallet-content .token .token-logo {
    background: rgba(1, 1, 1, 0.5);
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #064340
}

section .right-tab .my-wallet .mywallet-content .token .token-content {
    background: rgba(1, 1, 1, 0.5);
    border-radius: 20px
}

section .right-tab .my-wallet .mywallet-content .token .token-content .form-label, section .right-tab .my-wallet .mywallet-content .token .token-content .form-control {
    background: linear-gradient(#044340, #011e1c);
    border: 1px solid #fff9ae;
    border-radius: 10px;
    color: #fff9ae;
    font-size: 16px
}

section .right-tab .my-wallet .mywallet-content .token .token-content .accordion-button {
    color: #fff9ae;
    background: transparent
}

section .right-tab .my-wallet .mywallet-content .token .token-content .accordion-button::after {
    background-image: url(../images/arrow-down.png);
    background-position: center
}

section .right-tab .my-wallet .mywallet-content .token .token-content .profile-box .input-group {
    background: linear-gradient(#044340, #011e1c);
    border: 1px solid #fff9ae;
    border-radius: 10px;
    color: #fff9ae;
    font-size: 16px
}

section .right-tab .my-wallet .mywallet-content .token .token-content .profile-box .input-group .form-control, section .right-tab .my-wallet .mywallet-content .token .token-content .profile-box .input-group .input-group-text {
    background: transparent;
    border: none
}

section .right-tab .my-wallet .mywallet-content .token .token-content .profile-box .input-group .input-group-text {
    border-left: 1px solid #fff9ae
}

section .right-tab .my-wallet .mywallet-content .rate-filter .nav-item .nav-link {
    display: flex;
    justify-items: center;
    align-items: center
}

section .right-tab .my-wallet .mywallet-content .rate-filter .nav-item .nav-link .box-text {
    color: #936423;
    text-transform: uppercase;
    border-radius: 10px;
    background: url(../images/btnmenu.png) no-repeat center center;
    background-size: 100% 100%
}

section .right-tab .my-wallet .mywallet-content .rate-filter .nav-item .nav-link .box-text:hover {
    background: url(../images/btnmenu2.png) no-repeat center center;
    background-size: 100% 100%;
    color: #462714
}

section .right-tab .my-wallet .mywallet-content .rate-filter .nav-item .nav-link .box-check {
    background: url(../images/btn-check.png) no-repeat center center;
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center
}

section .right-tab .my-wallet .mywallet-content .rate-filter .nav-item .nav-link .box-check .icon-check {
    width: 20px;
    height: 20px;
    display: none
}

section .right-tab .my-wallet .mywallet-content .rate-filter .nav-item .active .box-check .icon-check {
    display: initial
}

section .right-tab .my-wallet .mywallet-content .rate-filter .form-select {
    background-color: #062020;
    background-image: url(../images/arrow-down.png);
    position: relative;
    border: 1px solid #054643;
    color: #fff9ae
}

section .admin-page .form-control {
    background: linear-gradient(#044340, #011e1c);
    border: 1px solid #fff9ae;
    color: #fff9ae
}

section .admin-page .form-control:focus {
    box-shadow: none
}

section .admin-page .btn-submit {
    color: #fff;
    background: url(../images/btn-submit.png) no-repeat center center;
    background-size: 100% 100%
}

section .admin-page .btn-submit:focus {
    box-shadow: none
}

.jconfirm-content, .jconfirm-title {
    color: #000 !important
}
section .admin-page .form-select {
    /*background: linear-gradient(#044340, #011e1c);*/
    background-color: #02312d;
    background-image: url(../images/arrow-down.png);
    border: 1px solid #fff9ae;
    color: #fff9ae
}
